.controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;

  font-size: 0.8em;
}

.controls > .controlGroup {
  display: flex;
  gap: 4px;
  border: solid 1px;
  border-radius: 4px;
  padding: 2px 5px 4px;
}

.controls .iconButton {
  background: none;
  border: solid 1px;
  border-radius: 50%;
  font-size: 0.8em;
  color: currentColor;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  height: clamp(2.6em, 2.2vw, 3em);
  aspect-ratio: 1;
}

.controls button {
  cursor: pointer;
}

.controls button:disabled {
  background-color: rgb(237 237 237);
  color: rgb(140 140 140);
  cursor: unset;
}

.controls button.selected {
  background-color: var(--abc-editor-menu-button);
}

.controls .spacer {
  width: 8px;
}
