.controls {
  display: flex;
  gap: 1rem;

  font-size: 0.85em;
}

.controls > .controlGroup {
  display: flex;
  gap: 4px;
  border: solid 1px;
  border-radius: 4px;
  padding: 2px 5px 4px;
}

.controls .iconButton {
  background: none;
  border: solid 1px;
  border-radius: 50%;
  font-size: 0.8em;
  color: currentColor;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  height: 3em;
  aspect-ratio: 1;
}

.controls button {
  cursor: pointer;
}

.controls button:disabled {
  background-color: rgb(201, 201, 201);
  color: rgb(62, 62, 62);
}

.controls button.selected {
  background-color: rgb(115, 183, 206);
}

.controls .spacer {
  width: 8px;
}
