.editor {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 0.9em;

  background-color: white;
  color: black;
}

/* Try to reset any global styles as much as possible */
.editor,
.editor * {
  margin: 0;
  padding: 0;
  line-height: normal;
  box-sizing: border-box;
}

/* Style the outline for selected notes */
:global .abcjs-note:focus {
  outline: solid 2px rgb(115, 183, 206);
  outline-offset: 4px;
  border-radius: 1px;
}
